<div class="flex flex-col h-64 justify-center items-center bg-white">
	<div class="tcg-tagline flex flex-row items-center text-7xl text-center text-sky-600">
		<span>TCG&nbsp;</span>
		<img src="/assets/coach_card.svg" class="h-32" />
		<span class="-m-8">oach</span>
	</div>
	<div class="tcg-tagline text-3xl text-center text-amber-500">You already play.</div>
	<div class="tcg-tagline text-3xl text-center text-amber-500">Now play <span class="italic">better</span>.</div>
</div>
<tcg-navbar></tcg-navbar>

<router-outlet></router-outlet>